body {
    font-family: "Nunito", sans-serif;
    font-size: 3vmin;
    color: white;
    background-color: dimgray;
    height: 100vh;
    margin: 0;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "content"
      "aside"
      "main"
      "footer"
  }
  header {
    grid-area: header;
    text-align: center;
    font-family: 'Bungee Shade', sans-serif;
    font-size: 4vmin;
    color: crimson;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  content {
    grid-area: content;
    text-align: center;
    background-color: crimson;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  aside {
    grid-area: aside;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  main {
    grid-area: main;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
  }
  .modal {
    visibility: hidden;
    text-align: center;
    width: 50vw;
    max-width: 100vmin;
    padding: 30px;
    position: fixed;
    top: 45%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: black;
    border-style: solid;
    border-radius: 2vmin;
    opacity: 0;
  }
  #intro.open {
    visibility: visible;
    opacity: 1;
  }
  #descriptions.open {
    visibility: visible;
    opacity: 1;
  }
  #winner-msg.open {
    visibility: visible;
    opacity: 1;
  }
  button {
    background-color: crimson;
    padding: 4vmin;
    font-size: 2.5vmin;
    border-radius: 5vmin;
    color: white;
    border-style: solid;
    border-radius: 2vmin;
    border-color: white;
    transform: scale(.8);
  }
    button:hover {
    transform: scale(.9);
    transition: transform 150ms ease-in;
  }
   #yell {
     background-color: green;
   }
  #plead {
    background-color: plum;
  }
  #cry {
    background-color: cornflowerblue;
  }
  #tantrum {
    background-color: orange;
  }
  @media only screen and (min-width:768px) {
    body {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 150px 200px 150px auto;
      grid-template-areas:
        "header header"
        "aside content"
        "aside main"
        "aside footer";
    }
    aside {
      flex-direction: column;
      justify-content: flex-start;
    }
    #status {
      padding-top: 30px;
    }
    #player-info {
      padding-top: 30px;
    }
  }